amqp==5.0.6
asgiref==3.4.1
astroid==2.6.2
billiard==3.6.4.0
celery==5.1.2
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.4
cryptography==3.4.7
defusedxml==0.7.1
Django==3.2.5
django-allauth==0.44.0
django-celery-beat==2.2.0
django-js-asset==1.2.2
django-mptt==0.12.0
django-timezone-field==4.1.2
idna==2.10
isort==5.9.1
kombu==5.1.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
oauthlib==3.1.1
prompt-toolkit==3.0.19
pycparser==2.20
PyJWT==2.1.0
pylint==2.9.3
pylint-django==2.4.4
pylint-plugin-utils==0.6
python-crontab==2.5.1
python-dateutil==2.8.1
python3-openid==3.2.0
pytz==2021.1
requests==2.25.1
requests-oauthlib==1.3.0
six==1.16.0
sqlparse==0.4.1
toml==0.10.2
urllib3==1.26.6
vine==5.0.0
wcwidth==0.2.5
wrapt==1.12.1
django-heroku
django-redis==5.0.0
djangorestframework
drf-spectacular
flower