{% extends "base.html" %}

{% block content %}
  <div class=" min-h-screen py-32 px-10">
  <div class="bg-white p-10 rounded-lg shadow md:w-3/4 lg:w-1/2 mx-auto">

    <form action="">

      <div class="mb-5">
        <label for="name" class="block mb-2 font-bold text-gray-600">Email</label>
        <input type="text" id="name" name="name" placeholder="Your Name" class="border border-gray-300 shadow p-3 w-full rounded">
      </div>

      <div class="mb-10">
        <label for="twitter" class="block mb-2 font-bold text-gray-600">Password</label>
        <input type="password" id="twitter" name="twitter" placeholder="@chrisoncode" class="border border-gray-300 shadow p-3 w-full rounded">

      </div>

      <button class="block w-full bg-blue-500 text-white font-bold p-4 rounded-lg">Submit</button>

    </form>

  </div>
</div>
{% endblock content %}