{% extends "base.html" %}


{% block content %}

<div class="search w-full bg-white mb-7">
    <div class="flex justify-between border-gray-100">
        <input type="text" id="search" class="search border border-gray-300 shadow p-3 w-full rounded w-full" placeholder="Search..." />
        <button class="search p-3 bg-gray-500 text-white" id="searchBtn">Search</button>    
    </div>

</div>

  
<div id="result" class="w-full justify-center" style="display: grid;grid-template-columns: repeat(auto-fit, minmax(20rem, .6fr));  gap: 10px;">
   
</div>
{% csrf_token %}



<script>
    const resultBox = document.getElementById("result");
    const searchBox = document.getElementById("search");
    const searchBtn = document.getElementById("searchBtn");
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    let pageCount =1;

    console.log("hi");
    window.onload = () => {
        fetchJobs();
        pageCount=1;
    }
// make an evene listener for the search button
searchBtn.addEventListener('click',()=>{
    pageCount=1
    fetchJobs(searchBox.value,pageCount,clearPreviousData=true)
})

window.addEventListener('scroll',()=>{
	const {scrollHeight,scrollTop,clientHeight} = document.documentElement;
	if(scrollTop + clientHeight > scrollHeight - 5){
		console.log('reached the end of the screen ')
        console.log(pageCount)
        fetchJobs(searchBox.value,pageCount);
        pageCount=pageCount+1;

	}
});

   //http://143.244.157.225:9000/api/v1/jobs/?search=python 
    const writeData=(data,clearPreviousData)=>{
        clearPreviousData ?resultBox.innerHTML = "":null;
        if (data.results) {
        data.results.forEach(result => {
            console.log(result, 'from the write data');
            //resultBox.innerHTML += `<div>${result.company_name} ${result.created_at}</div>`
            resultBox.innerHTML += `<div class=" w-full flex flex-col bg-white px-8 py-6 max-w-sm mx-auto rounded-lg shadow-lg">
        <div class="flex justify-center items-center">
            <a class="px-2 py-1 bg-gray-600 text-sm text-green-100 rounded" href="${result.link}" target="_blank">${result.jobcategory.name}</a>
        </div>
        <div class="mt-4">
            <a class="text-lg text-gray-700 font-medium" href="${result.link}" target="_blank">${result.title}</a>
        </div>
        <div class="flex justify-between items-center mt-4">
            <div class="flex items-center">
                
                <a class="text-gray-700 text-sm " href="${result.link}"  target="_blank">${result.company_name}</a>
            </div>
            <span class="font-light text-sm text-gray-600">${result.create_at}</span>
        </div>
    </div>`

        })
        }else{
            resultBox.innerHTML += "<h1>No results found </h1>"
        }
    
    }
    
    async function fetchJobs(searchQuery,pageCount,clearPreviousData=false) {
        try {
            const url = `/api/v1/jobs${searchQuery||pageCount ? `?search=${searchQuery}&page=${pageCount}` : ''}`;
            console.log(url)
            const res = await fetch(url,{headers: {'X-CSRFToken': csrftoken}})
            const data = await res.json();
            console.log(data);
            
           
            writeData(data,clearPreviousData)
        } catch (error) {
            console.log(error)
        }
    }

</script>

{% endblock content %}