<nav class="container mx-auto p-3">
    <div class="flex flex-wrap justify-between ">
        <h1 class="text-xl font-extrabold font-serif text-blue-700	 ">OneShopJobs</h1>
        <div class="w-12/11 px-px">
            <ul class="flex flex-wrap gap-px  px-10 ">
                <li class="mr-6  sm:mr-3"> <a href="">Home</a></li>
                <li class="mr-6 sm:mr-3"> <a href={% if user.is_authenticated %}/accounts/logout
                        {% else %}"/accounts/login"{% endif %}>{% if user.is_authenticated %}logout {% else %}
                        login{% endif %} </a> </li> <li class="mr-6 sm:mr-3"> <a href="">About</a></li>
            </ul>
        </div>

    </div>
</nav>